body{
    font-family:Arial, Verdana;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 32px;
    color:#0D0D0D
}

p{
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
}